.cursor {
    font-weight: bold;
    font-size: 24px;
    color: hsl(155, 21%, 49%);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    50%, 100% { opacity: 0; }
}


.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
    transform: scale(1.10); 
    box-shadow: 0 15px 20px hsl(155, 21%, 49%); 
}




.tag {
    background-color: hsl(155, 21%, 49%);
    color: white; 
    padding: 8px 12px;
    border-radius: 0px; 
    font-weight: bold; 
    transition: background-color .3s ease; 
    
}

.tag:hover {
    background-color: hsl(155, 34%, 60%); 
}



.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    padding: 15px; 
}

.logo {
    display: inline-block;
    margin-bottom: 10px; 
}

.logo img {
    transition: transform 0.3s ease; 
}

.logo img:hover {
    transform: scale(1.3);
}

.description {
    color: hsl(155, 21%, 49%); 
    font-weight: bold; 
    text-align: center; 
    margin-top: 5px; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    position: absolute; 
    bottom: -30px; 
    font-size: 20px;
}

.logo:hover + .description {
    opacity: 1;
}


