.cursor {
    font-weight: bold;
    font-size: 24px;
    color: hsl(155, 21%, 49%);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    50%, 100% { opacity: 0; }
}


.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
    transform: scale(1.10); 
    box-shadow: 0 15px 20px hsl(155, 21%, 49%); 
}
